aniso8601==8.0.0
attrs==19.3.0
click==7.1.2
Flask==1.1.2
flask-restplus==0.13.0
gitdb==4.0.5
GitPython==3.1.7
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.15.4
PyHamcrest==1.9.0
pyrsistent==0.16.0
pytz==2020.1
six==1.15.0
smmap==3.0.4
uWSGI==2.0.19.1
Werkzeug==0.16.1
gitpython==3.1.7
